In [36]:
import sys
bak = sys.argv[:]         # guardar argv del kernel
sys.argv = ["crypto.py", "--binance"]  # simular llamado sin args

sys.argv = bak

In [1]:
import pandas as pd


dfs = pd.read_excel("crypto.xlsx", sheet_name=None)  # None = todas las hojas

# df.tail(50)        # últimas 50
# df.iloc[100:200]   # rango específico

# dfs es un diccionario: clave = nombre de hoja, valor = DataFrame
for nombre, df in dfs.items():
    print(f"--- {nombre} ---")
    cantidad = df.head(50)        # primeras 50
    display(cantidad)  # en Jupyter muestra tabla

--- BTC ---

,Fecha de Compra,Cripto,Cantidad,Precio Compra (USD),Valor Actual (USD),Wallet,¿Stakeado? (Sí/No),Total Crypto,Total USD
0,2022-08-20,BTC,0.004648,100,21515.61,bitcoin.com,No,NaN,NaN
1,2025-07-15,BTC,0.002613,310,118630.43,prex,No,NaN,NaN
2,2025-07-15,BTC,-0.002529,-300,118630.43,bitcoin.com,No,NaN,NaN
3,2025-08-14,BTC,-0.000169,-20,118123.30,prex,No,NaN,NaN

--- ETH ---

,Fecha de Compra,Cripto,Cantidad,Precio Compra (USD),Valor Actual (USD),Wallet,¿Stakeado? (Sí/No),Total Crypto,Total USD
0,2024-12-31,ETH,0.029759,100,3360.38,bitcoin.com,No,NaN,NaN
1,2025-07-15,ETH,0.032628,110,3371.35,prex,No,NaN,NaN
2,2025-07-26,ETH,0.077477,315,3872.10,binance,No,NaN,NaN
3,2025-08-09,ETH,-0.007028,-30,4268.60,prex,No,NaN,NaN
4,2025-08-09,ETH,-0.009357,-40,4274.73,binance,No,NaN,NaN
5,2025-08-14,ETH,-0.002193,-10,4559.75,prex,No,NaN,NaN
6,2025-08-14,ETH,-0.010972,-50,4557.21,binance,No,NaN,NaN

--- SOL ---

,Fecha de Compra,Cripto,Cantidad,Precio Compra (USD),Valor Actual (USD),Wallet,¿Stakeado? (Sí/No),Total Crypto,Total USD
0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-07-15,SOL,0.460750,80.0,173.63,prex,No,NaN,NaN
2,2025-07-26,SOL,0.424088,84.0,188.64,binance,No,NaN,NaN
3,2025-08-14,SOL,-0.153878,-30.0,194.96,binance,No,NaN,NaN

--- BCH ---

,Fecha de Compra,Cripto,Cantidad,Precio Compra (USD),Valor Actual (USD),Wallet,¿Stakeado? (Sí/No),Total Crypto,Total USD
0,2023-05-05,BCH,0.068376,8,117,bitcoin.com,No,NaN,NaN
1,2025-08-11,BCH,0.172414,100,580,bitcoin.com,No,NaN,NaN

--- USDT ---

,Fecha de Compra,Cripto,Cantidad,Precio Compra (USD),Valor Actual (USD),Wallet,¿Stakeado? (Sí/No),Total Crypto,Total USD
0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-07-26,USDT,100.0,105.0,1.0,binance,No,NaN,NaN
2,2025-08-10,USDT,-100.0,-100.0,1.0,binance,No,NaN,NaN
3,2025-08-14,USDT,80.0,80.0,1.0,binance,No,NaN,NaN

--- BNB ---

,Fecha de Compra,Cripto,Cantidad,Precio Compra (USD),Valor Actual (USD),Wallet,¿Stakeado? (Sí/No),Total Crypto,Total USD
0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-08-10,BNB,0.124214,100.0,805.06,binance,No,NaN,NaN

--- Retiros ---

,Fecha,BTC (U$S),ETH (U$S),SOL (U$S),USDT,Wallet,Unnamed: 6,Total
0,2025-07-15,300.0,NaN,NaN,NaN,bitcoin.com,NaN,NaN
1,2025-08-09,NaN,30.0,NaN,NaN,prex,NaN,NaN
2,2025-08-12,20.0,10.0,NaN,NaN,prex,NaN,NaN

--- Totales ---

,Cripto,Cantidad Total,Precio Compra Total (USD),Cantidad Actual,Ganancia/Perdida (USD),Total Compra,Total Actual,Total Ganancia
0,BTC,0.004563,90,514.30,424.30,NaN,NaN,NaN
1,ETH,0.110314,395,456.69,61.69,NaN,NaN,NaN
2,SOL,0.730960,134,130.93,-3.07,NaN,NaN,NaN
3,BCH,0.240790,108,131.65,23.65,NaN,NaN,NaN
4,BNB,0.124214,100,102.34,2.34,NaN,NaN,NaN
5,USDT,80.000000,85,80.00,-5.00,NaN,NaN,NaN

--- Top 10 Cripto del momento ---

                            Top 10 Cripto del momento
0                                                 BTC
1                                                 ETH
2                                                 ADA
3                                                 BNB
4                                                 SOL
5                                                 DOT
6                                                 XRP
7                                                 LTC
8                                                 AXS
9                                                DOGE
10  Nunca inviertas dinero que no estás dispuesto ...

--- Tendencia de mis criptos ---

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Histórico de precios (USD) - Últimos 6 meses,NaN,NaN,NaN,NaN,NaN
1,Fecha,BTC,ETH,SOL,BCH,BNB
2,2025-02-22 00:00:00,96551.01,2763.22,172.07,320.9,668.57
3,2025-02-23 00:00:00,96258,2819.69,167.94,327.8,658.42
4,2025-02-24 00:00:00,91552.88,2513.52,141.81,291.5,614.2
5,2025-02-25 00:00:00,88680.4,2495.7,144.33,291.8,623.49
6,2025-02-26 00:00:00,84250.09,2336.37,135.32,294,611.57
7,2025-02-27 00:00:00,84708.58,2307.72,137.68,296.8,605.41
8,2025-02-28 00:00:00,84349.94,2237.59,148.18,315.8,588.07
9,2025-03-01 00:00:00,86064.53,2217.39,143.66,311.4,607.93
10,2025-03-02 00:00:00,94270,2518.11,178.71,334.2,623.94
11,2025-03-03 00:00:00,86220.61,2149.01,142.16,321.3,576.1
12,2025-03-04 00:00:00,87281.98,2171.51,144.79,320.5,584.01
13,2025-03-05 00:00:00,90606.01,2241.59,146.28,392.2,598.24
14,2025-03-06 00:00:00,89931.89,2202.2,143.31,395,596.5
15,2025-03-07 00:00:00,86801.75,2141.6,139.39,389,594.77
16,2025-03-08 00:00:00,86222.45,2203.58,137.01,385.9,593.1
17,2025-03-09 00:00:00,80734.37,2020.41,126.51,357.5,554.65
18,2025-03-10 00:00:00,78595.86,1865.1,118.32,331.7,531.49
19,2025-03-11 00:00:00,82932.99,1923.43,125.35,340.2,551.61
20,2025-03-12 00:00:00,83680.12,1908.2,126.62,354,569.87
21,2025-03-13 00:00:00,81115.78,1864.59,123.37,325.9,579.8
22,2025-03-14 00:00:00,83983.2,1911.65,133.54,331.4,587.76
23,2025-03-15 00:00:00,84338.44,1937.17,135.86,342.3,619.83
24,2025-03-16 00:00:00,82574.53,1887,126.13,332.9,602.2
25,2025-03-17 00:00:00,84010.03,1926.31,128.01,337.5,631.69
26,2025-03-18 00:00:00,82715.03,1931.54,125.33,335.3,627.81
27,2025-03-19 00:00:00,86845.94,2056.06,135.33,345.3,618.7
28,2025-03-20 00:00:00,84223.39,1983.79,127.6,333.8,630.47
29,2025-03-21 00:00:00,84088.79,1965.75,128.48,323.2,635.17
30,2025-03-22 00:00:00,83840.59,1980.69,128.51,322.4,627.01
31,2025-03-23 00:00:00,86082.5,2005.99,132.84,325.4,623.79
32,2025-03-24 00:00:00,87498.16,2081.2,141.01,332.5,637.08
33,2025-03-25 00:00:00,87392.87,2066.15,143.64,336,629.82
34,2025-03-26 00:00:00,86909.17,2009.52,137.34,335.1,617.99
35,2025-03-27 00:00:00,87232.01,2003.66,138.43,324.7,637.36
36,2025-03-28 00:00:00,84424.38,1896.9,129.49,307.7,619.81
37,2025-03-29 00:00:00,82648.54,1828.08,124.58,303.3,602.99
38,2025-03-30 00:00:00,82389.99,1807.74,124.82,299.2,602.2
39,2025-03-31 00:00:00,82550.01,1822.43,124.54,303.5,604.81
40,2025-04-01 00:00:00,85158.34,1904.98,126.67,308.1,611.13
41,2025-04-02 00:00:00,82516.29,1795.22,117.42,293,590.68
42,2025-04-03 00:00:00,83213.09,1817.23,117.17,301.3,592.67
43,2025-04-04 00:00:00,83889.87,1816.87,122.79,301.4,597.71
44,2025-04-05 00:00:00,83537.99,1806.01,120.32,304.1,593.13
45,2025-04-06 00:00:00,78430,1580.76,105.91,272.2,555.54
46,2025-04-07 00:00:00,79163.24,1553.04,106.99,275.4,554.6
47,2025-04-08 00:00:00,76322.42,1473.41,105.4,269.2,553.72
48,2025-04-09 00:00:00,82615.22,1669.51,119.05,301.4,582.32
49,2025-04-10 00:00:00,79607.3,1522.25,112.81,289.8,578.03

--- Top 10 Cripto bajas ---

  Top 10 Cripto a bajo costo con potencial
0                                      XRP
1                                      ADA
2                                      LTC
3                                      TRX
4                                      EOS
5                                      BAT
6                                      VET
7                                      ZRX
8                                      GRT
9                                    SUSHI

--- Binance Spot ---

  Asset      Free  Locked     Total  Price (USDT)  Total USD
0   ETH  0.065473       0  0.065473       4144.88     271.38
1   BNB  0.123883       0  0.123883        825.32     102.24
2   SOL  0.502742       0  0.502742        179.07      90.03

--- Binance Fondos ---

  Asset       Free  Locked  Freeze  Withdrawing      Total
0  USDT  80.092008       0       0            0  80.092008

In [37]:
import pandas as pd


dfs = pd.read_excel("crypto.xlsx", sheet_name=None)  # None = todas las hojas

# df.tail(50)        # últimas 50
# df.iloc[100:200]   # rango específico

# dfs es un diccionario: clave = nombre de hoja, valor = DataFrame
for nombre, df in dfs.items():
    print(f"--- {nombre} ---")
    cantidad = df.head(50)        # primeras 50
    display(cantidad)  # en Jupyter muestra tabla

--- BTC ---

Empty DataFrame
Columns: [Fecha de Compra, Cripto, Cantidad, Precio Compra (USD), Valor Actual (USD), Wallet, ¿Stakeado? (Sí/No), Total Crypto, Total USD]
Index: []

--- ETH ---

Empty DataFrame
Columns: [Fecha de Compra, Cripto, Cantidad, Precio Compra (USD), Valor Actual (USD), Wallet, ¿Stakeado? (Sí/No), Total Crypto, Total USD]
Index: []

--- SOL ---

Empty DataFrame
Columns: [Fecha de Compra, Cripto, Cantidad, Precio Compra (USD), Valor Actual (USD), Wallet, ¿Stakeado? (Sí/No), Total Crypto, Total USD]
Index: []

--- BCH ---

Empty DataFrame
Columns: [Fecha de Compra, Cripto, Cantidad, Precio Compra (USD), Valor Actual (USD), Wallet, ¿Stakeado? (Sí/No), Total Crypto, Total USD]
Index: []

--- USDT ---

Empty DataFrame
Columns: [Fecha de Compra, Cripto, Cantidad, Precio Compra (USD), Valor Actual (USD), Wallet, ¿Stakeado? (Sí/No), Total Crypto, Total USD]
Index: []

--- Binance Spot ---

  Asset        Free  Locked       Total
0   ETH    0.076473       0    0.076473
1  USDT  100.074194       0  100.074194
2   SOL    0.658742       0    0.658742

--- Totales ---

,Cripto,Cantidad Total,Precio Compra Total (USD),Cantidad Actual,Ganancia/Perdida (USD)
0,BTC,0,0,NaN,NaN
1,ETH,0,0,NaN,NaN
2,SOL,0,0,NaN,NaN
3,BCH,0,0,NaN,NaN
4,USDT,0,0,NaN,NaN

--- Tendencia de mis criptos ---

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Histórico de precios (USD) - Últimos 6 meses,NaN,NaN,NaN,NaN
1,Fecha,BTC,ETH,SOL,BCH
2,2025-02-11 00:00:00,95778.2,2602.59,197.96,331.4
3,2025-02-12 00:00:00,97869.99,2738.27,196.78,343.1
4,2025-02-13 00:00:00,96608.14,2675.87,194.25,335
5,2025-02-14 00:00:00,97500.48,2725.95,199.39,341.5
6,2025-02-15 00:00:00,97569.66,2693.04,194.48,332.9
7,2025-02-16 00:00:00,96118.12,2661.41,188.27,326.3
8,2025-02-17 00:00:00,95780,2744.05,177.53,323.8
9,2025-02-18 00:00:00,95671.74,2671.99,169.32,316.3
10,2025-02-19 00:00:00,96644.37,2715.5,168.93,322.8
11,2025-02-20 00:00:00,98305,2738.04,176,325.9
12,2025-02-21 00:00:00,96181.98,2663,168.94,313.8
13,2025-02-22 00:00:00,96551.01,2763.22,172.07,320.9
14,2025-02-23 00:00:00,96258,2819.69,167.94,327.8
15,2025-02-24 00:00:00,91552.88,2513.52,141.81,291.5
16,2025-02-25 00:00:00,88680.4,2495.7,144.33,291.8
17,2025-02-26 00:00:00,84250.09,2336.37,135.32,294
18,2025-02-27 00:00:00,84708.58,2307.72,137.68,296.8
19,2025-02-28 00:00:00,84349.94,2237.59,148.18,315.8
20,2025-03-01 00:00:00,86064.53,2217.39,143.66,311.4
21,2025-03-02 00:00:00,94270,2518.11,178.71,334.2
22,2025-03-03 00:00:00,86220.61,2149.01,142.16,321.3
23,2025-03-04 00:00:00,87281.98,2171.51,144.79,320.5
24,2025-03-05 00:00:00,90606.01,2241.59,146.28,392.2
25,2025-03-06 00:00:00,89931.89,2202.2,143.31,395
26,2025-03-07 00:00:00,86801.75,2141.6,139.39,389
27,2025-03-08 00:00:00,86222.45,2203.58,137.01,385.9
28,2025-03-09 00:00:00,80734.37,2020.41,126.51,357.5
29,2025-03-10 00:00:00,78595.86,1865.1,118.32,331.7
30,2025-03-11 00:00:00,82932.99,1923.43,125.35,340.2
31,2025-03-12 00:00:00,83680.12,1908.2,126.62,354
32,2025-03-13 00:00:00,81115.78,1864.59,123.37,325.9
33,2025-03-14 00:00:00,83983.2,1911.65,133.54,331.4
34,2025-03-15 00:00:00,84338.44,1937.17,135.86,342.3
35,2025-03-16 00:00:00,82574.53,1887,126.13,332.9
36,2025-03-17 00:00:00,84010.03,1926.31,128.01,337.5
37,2025-03-18 00:00:00,82715.03,1931.54,125.33,335.3
38,2025-03-19 00:00:00,86845.94,2056.06,135.33,345.3
39,2025-03-20 00:00:00,84223.39,1983.79,127.6,333.8
40,2025-03-21 00:00:00,84088.79,1965.75,128.48,323.2
41,2025-03-22 00:00:00,83840.59,1980.69,128.51,322.4
42,2025-03-23 00:00:00,86082.5,2005.99,132.84,325.4
43,2025-03-24 00:00:00,87498.16,2081.2,141.01,332.5
44,2025-03-25 00:00:00,87392.87,2066.15,143.64,336
45,2025-03-26 00:00:00,86909.17,2009.52,137.34,335.1
46,2025-03-27 00:00:00,87232.01,2003.66,138.43,324.7
47,2025-03-28 00:00:00,84424.38,1896.9,129.49,307.7
48,2025-03-29 00:00:00,82648.54,1828.08,124.58,303.3
49,2025-03-30 00:00:00,82389.99,1807.74,124.82,299.2